DataEntryApp/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1876/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1876/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1876/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_checkLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:checkLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_checkLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllFlyers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllFlyers" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllFlyers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllFlyersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProviders" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllOfferTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllOfferTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllOfferTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllOfferTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTimeFrames_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTimeFrames" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTimeFrames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTimeFramesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addNewFlyerBasicData_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewFlyerBasicData" />
  </wsdl:message>
  <wsdl:message name="IService1_addNewFlyerBasicData_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewFlyerBasicDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllCategoryTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategoryTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllCategoryTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategoryTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_submitFlyerProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:submitFlyerProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_submitFlyerProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:submitFlyerProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_submitFlyerAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:submitFlyerAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_submitFlyerAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:submitFlyerAllProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="checkLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/checkLogin" message="tns:IService1_checkLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/checkLoginResponse" message="tns:IService1_checkLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllFlyers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllFlyers" message="tns:IService1_getAllFlyers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllFlyersResponse" message="tns:IService1_getAllFlyers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProviders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProviders" message="tns:IService1_getAllProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProvidersResponse" message="tns:IService1_getAllProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllOfferTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllOfferTypes" message="tns:IService1_getAllOfferTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllOfferTypesResponse" message="tns:IService1_getAllOfferTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTimeFrames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllTimeFrames" message="tns:IService1_getAllTimeFrames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllTimeFramesResponse" message="tns:IService1_getAllTimeFrames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewFlyerBasicData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addNewFlyerBasicData" message="tns:IService1_addNewFlyerBasicData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addNewFlyerBasicDataResponse" message="tns:IService1_addNewFlyerBasicData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProductCategories" message="tns:IService1_getAllProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductCategoriesResponse" message="tns:IService1_getAllProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCategoryTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllCategoryTypes" message="tns:IService1_getAllCategoryTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllCategoryTypesResponse" message="tns:IService1_getAllCategoryTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitFlyerProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/submitFlyerProduct" message="tns:IService1_submitFlyerProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/submitFlyerProductResponse" message="tns:IService1_submitFlyerProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitFlyerAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/submitFlyerAllProducts" message="tns:IService1_submitFlyerAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/submitFlyerAllProductsResponse" message="tns:IService1_submitFlyerAllProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/checkLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFlyers">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllFlyers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProviders">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOfferTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllOfferTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTimeFrames">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllTimeFrames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewFlyerBasicData">
      <soap:operation soapAction="http://tempuri.org/IService1/addNewFlyerBasicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCategoryTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllCategoryTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitFlyerProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/submitFlyerProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitFlyerAllProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/submitFlyerAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1876/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>