DataEntryApp/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1876/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" />
  <xs:element name="checkLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFlyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFlyersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllFlyersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllProvidersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllOfferTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllOfferTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllOfferTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTimeFrames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTimeFramesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllTimeFramesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFlyerBasicData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="flyer" nillable="true" type="q1:OFFER_FLYER" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="frame" nillable="true" type="q2:TIME_FRAME" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFlyerBasicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewFlyerBasicDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllProductCategoriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCategoryTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCategoryTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllCategoryTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitFlyerProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="product" nillable="true" type="q3:PRODUCT" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="specs" nillable="true" type="q4:PRODUCT_SPEC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitFlyerProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitFlyerProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitFlyerAllProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="products" nillable="true" type="q5:ArrayOfPRODUCT" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataEntryDAL.DataAccessLogic" minOccurs="0" name="specs" nillable="true" type="q6:ArrayOfPRODUCT_SPEC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitFlyerAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitFlyerAllProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlyerBasicData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flyerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlyerBasicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFlyerBasicDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlyerProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flyerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlyerProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFlyerProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>